<% provide(:title, "Update project") %>

<div class="row">
  <%= form_for(@project) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :learning %>
    <%= f.text_area :learning %>

    <%= f.label :github %>
    <%= f.text_field :github %>

    <%= f.submit "update project", class: "btn btn-primary" %>
  <% end %>
</div>