<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><%= link_to "MICHAEL KEUNG", root_path %></li>
		<li><%= link_to "blog (external)", "https://mkeung.wordpress.com/" %></li>
		<li><%= link_to "projects / tasks", "#" %></li>
		<li><%= link_to "important things", "#" %></li>
		<li><%= link_to "inspirations", "#" %></li>
		<li><%= link_to "reading list", "#" %></li>
		<li><%= link_to "contact me", contact_path %></li>
	</ul>
</div>